## Operadores aritméticos

In [10]:
#suma y resta (+ y -)
suma = 12 + 5
resta = 12 - 5
print(suma)
print(resta)

17
7

In [11]:
#multi y division (* y /)
multi = 12 * 5 
division = 12 / 6  #devuelve un dato float (flotante) 
print(multi)
print(division)

60
2.0

In [12]:
#potenciación (exponente) (**)
exponente = 12 ** 5
print(exponente)

248832

In [14]:
#division baja (//)
division_baja = 12 // 5 #Devuelve un entero hacia abajo
print(division_baja)

2

In [15]:
#resto o modulo
resto = 12 % 9
print(resto)

3

In [16]:
#type(dato) nos devuelve que tipo de dato es
tipo_de_dato = type(division_baja)

print(tipo_de_dato)

<class 'int'>

## Operadores de comparación

In [17]:
igual_que = 5 == 6
print(igual_que)

False

In [18]:
distinto_de = 5 != 6
print(distinto_de)

True

In [19]:
mayor_que = 5 > 6
print(mayor_que)

False

In [20]:
menor_que = 5 < 6
print(menor_que)

True

In [21]:
mayor_o_igual = 5 >= 6
print(mayor_o_igual)

False

In [22]:
menor_o_igual = 5 <= 6
print(menor_o_igual)

True

In [23]:
a=4
b=7
c=28
comparacion = a * b == c
print(comparacion)

True

In [24]:
contraseña_almacenada = 'Max LLaccta'
contraseña_escrita = 'Max Llacta'

print(contraseña_almacenada == contraseña_escrita)

False

## Operadores Lógicos

In [25]:
#AND

Resultado = True & True #Devolver True
Resultado2 = False & True #Devolver Falso
Resultado3 = True & False #Devolver Falso
Resultado4 = False & False #Devolver Falso

print(Resultado)
print(Resultado2)
print(Resultado3)
print(Resultado4)

True
False
False
False

In [26]:
#OR

Resultado5 = True | True #Devolver True
Resultado6 = False | True #Devolver True
Resultado7 = True | False #Devolver True
Resultado8 = False | False #Devolver Falso

print(Resultado5)
print(Resultado6)
print(Resultado7)
print(Resultado8)

True
True
True
False

In [27]:
#NOT

Resultado9 = not True #Devolver False
Resultado10 = not False #Devolver True

print (Resultado9)
print(Resultado10)

False
True

## Conjuntos

In [1]:
# Sets: Son colleciones desordenados de objetos únicos.

'''
print(dir(set))
'''

canasta = {'manzana', 'platano', 'pera', 'manzana', 'naranja', 'pera'}
print(canasta)

numeros = {1, 3, 5, 8, 3, 4, 12, 1}
print(numeros)

{'manzana', 'platano', 'naranja', 'pera'}
{1, 3, 4, 5, 8, 12}

In [2]:
# Tipo 1 de Sets: Mutables, se puede añadir nuevos elementos
a = set('abracadabra')
print(a)
a.add('g')
print(a)

{'r', 'b', 'd', 'c', 'a'}
{'r', 'b', 'g', 'd', 'c', 'a'}

In [3]:
'''
# Tipo 2 de Sets; Inmutables, no se puede añadir nuevos elementos
b = frozenset('perro')
print(b)
b.add('k')
print(b)
'''

# Intersección 
miSet = {1, 2, 3, 4, 5}.intersection({3, 4, 5, 6})
print(miSet)
miSet = {1, 2, 3, 4, 5} & ({3, 4, 5, 6})
print(miSet)

{3, 4, 5}
{3, 4, 5}

In [4]:
# Union
miSet = {1, 2, 3, 4, 5}.union({3, 4, 5, 6})
print(miSet)
miSet = {1, 2, 3, 4, 5} | ({3, 4, 5, 6})
print(miSet)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [5]:
# Diferencia
miSet = {1, 2, 3, 4, 5}.difference({3, 4, 5, 6})
print(miSet)
miSet = {1, 2, 3, 4, 5} - ({3, 4, 5, 6})
print(miSet)

{1, 2}
{1, 2}

In [6]:
# Diferencia simétrica
miSet = {1, 2, 3, 4, 5}.symmetric_difference({3, 4, 5, 6})
print(miSet)

{1, 2, 6}

In [7]:
# Super conjunto
miSet = {1, 2, 3, 4, 5}.issuperset({3, 4, 5})
print(miSet)

True

In [8]:
#Sub conjunto
miSet = {4, 5}.issubset({3, 4, 5, 6})
print(miSet)

True

## String

In [28]:
### Strings ###

my_string = "Mi String"
my_other_string = 'Mi otro String'

print(len(my_string))
print(len(my_other_string))
print(my_string + " " + my_other_string)

9
14
Mi String Mi otro String

In [29]:
my_new_line_string = "Este es un String\ncon salto de línea"
print(my_new_line_string)

Este es un String
con salto de línea

In [30]:
my_tab_string = "\tEste es un String con tabulación"
print(my_tab_string)

	Este es un String con tabulación

In [31]:
my_scape_string = "\\tEste es un String \\n escapado"
print(my_scape_string)

\tEste es un String \n escapado

In [33]:
# Formateo

name, surname, age = "Brais", "Moure", 35
print("Mi nombre es {} {} y mi edad es {}".format(name, surname, age))
print("Mi nombre es %s %s y mi edad es %d" % (name, surname, age))
print("Mi nombre es " + name + " " + surname + " y mi edad es " + str(age))
print(f"Mi nombre es {name} {surname} y mi edad es {age}")

Mi nombre es Brais Moure y mi edad es 35
Mi nombre es Brais Moure y mi edad es 35
Mi nombre es Brais Moure y mi edad es 35
Mi nombre es Brais Moure y mi edad es 35

In [34]:
# Desempaqueado de caracteres

language = "python"
a, b, c, d, e, f = language
print(a)
print(e)

p
o

In [35]:
# División

language_slice = language[1:3]
print(language_slice)

yt

In [36]:
language_slice = language[1:]
print(language_slice)

ython

In [37]:
language_slice = language[-2]
print(language_slice)

o

In [38]:
language_slice = language[0:6:2]
print(language_slice)

pto

In [39]:
# Reverse

reversed_language = language[::-1]
print(reversed_language)

nohtyp

In [40]:
# Funciones del lenguaje

print(language.capitalize())
print(language.upper())
print(language.count("t"))
print(language.isnumeric())
print("1".isnumeric())
print(language.lower())
print(language.lower().isupper())
print(language.startswith("Py"))
print("Py" == "py")  # No es lo mismo

Python
PYTHON
1
False
True
python
False
False
False